<h1> items#index</h1>


<table>
	<tr>
		<th>status</th>
		<th>Item</th>
		<th>actions</th>
	</tr>

<%= @items.each do |item| %>
	<tr>
		<td><%=  %></td>
		<td><%= item.content %></td>
		<td><%=  %></td>
	</tr>

	</table>